[flake8]
max-line-length = 100
exclude =
    .venv,
    .git,
    __pycache__,
    build,
    dist,
    *.egg-info
# E203: whitespace before ':' - conflicts with Black's formatting of slices
extend-ignore = E203, E501
